
{{set . "title" "Admin Home"}}
{{template "admin/header.html" .}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">评论列表</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    {{template "admin/flash.html" .}}

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="myDataTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>昵称</th>
                                    <th width="50%">内容</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->


<script type="text/javascript">
    $(document).ready(function() {

        $('#myDataTable').dataTable({
            searching: false, 
            ordering: false, 
            serverSide: true,
            processing: true,
            ajax: {
                url: "/admin/queryComments",
                type: "POST"
            },
            columns: [
                { "data": "Id" },
                { 
                    "data": "Name",
                    "render": function(data, type, row, meta){
                        return filterXss(data);
                    }
                },
                { 
                    "data": "Message",
                    "render": function(data, type, row, meta){
                        return filterXss(data);
                    }
                 },
                { "data": "Created" },
                { 
                    "render": function(data, type, row, meta){
                        var link = '&nbsp;&nbsp;<a class="btn btn-default btn-circle" onclick="del('+row.Id+')"><i class="fa fa-times"></i></a>';
                        return link;
                    }
                }
            ]
        });
        
    });

    function del(id){
        if(!confirm('删除后不可恢复，确定删除吗？')){
            return;
        }

        window.location.href = "/admin/comment/delete/" + id;
    }

    function filterXss(data){
        var ret = "";
        for(var i = 0;i<data.length;i++){
            if(data[i] == '<'){
                ret += "&lt;";
            }else if(data[i] == '>'){
                ret += "&gt;";
            }else{
                ret += data[i];
            }
        }
        return ret;
    }

</script>

{{template "admin/footer.html" .}}