{{define "blog/navigation.html"}}
<div class="profile-pic">
	<div class="pic-bg"><img src="/public/images/profile-avatar.png" class="img-responsive" alt=""/></div>
</div>
<nav>
<ul class="navigation">
	<li><a href="/">Home <i class="fa fa-user"></i></a></li>
	<li><a href="/archives">Archives <i class="fa fa-file-text"></i></a></li>
	<li><a href="/tags">Tags <i class="fa fa-comment"></i></a></li>
	<li><a href="/works">Works <i class="fa fa-briefcase"></i></a></li>
	<li><a href="/about">About <i class="fa fa-envelope"></i></a></li>
</ul>
</nav>
{{end}}
